# ================ #
# Entornos de Java #
# ================ #
*.class
*.jar
*.war
*.ear
*.log
bin/
build/
out/
target/
.gradle/
!gradle-wrapper.jar
gradle.properties
.metadata/

# ============== #
# Entornos .NET  #
# ============== #
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.nupkg
*.suo
*.user
*.userprefs
.vs/
bin/
obj/
TestResults/
App_Data/
packages/
.nuget/
NuGet.Config
*.pubxml
*.DotSettings
*.jfm
BundleArtifacts/

# ============== #
# .NET MAUI      #
# ============== #
android/bin/
android/obj/
ios/bin/
ios/obj/
maccatalyst/bin/
maccatalyst/obj/
win/bin/
win/obj/
MauiArtifacts/

# ================ #
# IDEs y Editores  #
# ================ #
# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/
.idea_modules/

# NetBeans
nbproject/
nbproject/private/
nbbuild/
nbdist/
nb-private/
*.properties
*.prefs
nbactions.xml

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

# Visual Studio 2022
.vs/
*.vcxproj.user
*.vcxproj.filters
*.sln.docstates
*.VC.db
*.sqlite
ipch/
*.aps
*.opendb

# ================ #
# Testing          #
# ================ #
# JUnit/Mockito
test-results/
reports/
*.jfr
*.hprof

# ================ #
# Sistema/General  #
# ================ #
.DS_Store
Thumbs.db
*.tmp
*.swp
*.swo
*.bak
*.log
*.cache
.env
node_modules/
wwwroot/lib/
dist/
.cache/
dump.rdb
*.orig